<h1>About me</h1>
<p>I'm based in Cyberjaya, Malaysia, South East Asia, with my small family. I'm currently working as a full time Systems Engineer in a European MNC.</p>
<p>Now I've made a full switch to full stack development, to build apps of my dreams.</p>