<div class="jumbotron">
    <div class="container">
        <h1>About us</h1>
        <p>This is the sample project I built for <a href="https://omrails-leif.herokuapp.com">One Month Leif</a>.</p>
    </div>
</div>