<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
                <h1>Welcome to my website!</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div>
                <h3>Hi, I'm Leif, a developer that loves to code and getting new challenges.</h3>
                <p><%= link_to "Portfolio", "#", class: "btn btn-secondary" %></p>
            </div>
        </div>
    </div>
<% end %>