<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1>Welcome Back!</h1>
        </div>
    </div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div>
                <div class="container">
                <center><h1>Hi, I'm Leif, a developer that loves to code and getting new challenges!</h1></center>
                </div>
                <center>
                <div class="btn-group">
                  <a href="/tweets" class="btn btn-primary">Tweets</a>
                  <a href="/items" class="btn btn-primary">Items</a>
                  <a href="/feed" class="btn btn-primary">Feed</a>
                </div>
                </center>
            </div>
        </div>
    </div>
<% end %>